<div class="left-container">
  <div class="header">
    <h1>Hello</h1>
    <a class="login" routerLink="/login">Log In</a>  
  </div>
  <div class="content">
    <hr/>
    <p>
      Try out just another <strong>anuglar2 app</strong>, its just for <i>learning</i> purposes. Just tap <strong>Log In</strong>. Also fork project on <a href="https://github.com/yanlipnican/gameLobby">GitHub</a> and leave a <span class="glyphicon glyphicon-star"></span>.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum eligendi sapiente quo, laborum ipsam reiciendis consequuntur optio nam eum voluptas maiores nostrum cumque neque quasi velit doloremque, minus explicabo inventore.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut minima, vel consequatur consequuntur sunt aperiam doloribus velit veniam cum molestias perspiciatis ab recusandae vitae voluptatem magni ex omnis temporibus est.
    </p>
  </div>
  <div class="footer">
    Made with <span class="glyphicon glyphicon-heart"></span> in 2017.
  </div>
</div>