h1{
    margin-bottom: 20px;
}

.Loading{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('/assets/loader.gif');
    background-size: 100%;
}

@media(min-width: 769px){
    .container{
        margin-top: 100px;
    }
}

@media(max-width: 768px){
    .container{
        padding: 40px;
    }

    .btn{
        width: 100%;
    }
}